
  <nav ng-class="JSCtrl.colorScheme">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo nav-padding">&nbsp;JavaScript Library</a>
      <ul class="right ">
        <li>
          <!-- Modal Trigger -->
          <a class='btn z-depth-5' ng-class="JSCtrl.colorScheme"  href='#resource' modal>Add Resource</a>
        </li>
        <li>
          <form>
            <div class="input-field">
            <input id="search" type="search" required ng-model="$root.search">
            <label for="search"><i class="material-icons ">search</i></label>
            <i class="material-icons">close</i>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>

<div class="row" >
    <div class="col s12">
        <ul class="tabs" tabs>
            <li class="tab col s3 ">
              <a ui-sref="javascript">
                <div class="chip">
                  <img src="images/js.jpeg" alt="Contact Person">
                  Javascript
                </div>
              </a>
            </li>
            <li class="tab col s3">
              <a ui-sref="angularjs">
                <div class="chip">
                  <img src="images/angular.png" alt="Contact Person">
                  Angular
                </div>
              </a>
            </li>
            <li class="tab col s3">
              <a ui-sref="jquery">
                <div class="chip">
                  <img src="images/JQ.png" alt="Contact Person">
                  jQuery
                </div>
              </a>
            </li>
            <!--<li class="tab col s3"><a href="#test4">Test 4</a></li>-->
        </ul>
    </div>
</div>








<script>
  $('li.tab a').click(function(){
    //console.log(this)
    $('li.tab a').removeClass('active')
    $(this).addClass('active')
    // $('#search').val('')
  })
</script>